<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>TechB@g</title>
        <link rel="shortcut icon" href="bg18.jpg" type="image/x-icon">
        <link rel="stylesheet" href="org.css" />
    </head>
    <body>
        <div class="div">
            <nav>
                <div class="logo">Logo</div>

            </nav>
            <a href="/upload"><button class="ad_button">Add New</button></a>
            <div class="mainmain">
                //- <h1 class="background"></h1>
                h1(class="background")=num
                each item in items
                    <div class="maindiv">
                        <div class="heading background">
                            b=item.pr_name
                        </div>
                        <div class="name">
                            <div class="name1">
                                //- <p><b><h2 class="background">Name : p=item.name  </h2></b></p>
                                h2(class="background")=item.name
                                h2(class="background")=item.theme
                            </div>
                            <div class="name2">
                                <p><ul>
                                    <b><h3>
                                        <li class="background"> Poornima College of Engineering</li>
                                        li(class="background")=item.email
                                    </b></h3>
                                </ul></p></div>
                            </div>
                            <div class="prodec">
                                <b><h2 class="background">Project Description :</h2></b>
                                p(class="background")=item.project_dis
                            </div>
                            <div class="technology">
                                <b><h2 class="background">Technology Used : </h2></b>
                                <p><ul>
                                    <li class="background">Html5</li>
                                    <li class="background">CSS</li>
                                    <li class="background">Javascript</li>
                                    <li class="background">Python</li>
                                    <li class="background">MySql</li>
                                </ul></p>
                            </div>
                        </div>
                    </div>
            </div>                   
        </div>
        script(src="org.js") 
    </body>
</html>