<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./profile.css">
        <title>profile</title>
    </head>
    <body>
        
        <header>
            
            <div class="in_logo">
                <div>
                    <img src="./bh20.png" alt="Logo">
                </div>
                
            </div>
            <div class="in_link">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">AboutUs</a></li>
                    
                        
                </ul>
            </div>
        </header>
           
        <div class="profile">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="profile-image">
                <img src="./bg.jpeg" alt="User Image">
            </div>
            <div class="profile-details">
                h1=items[0].name
                p=items[0].email
                p=items[0].unique_id
                h2=num
            </div>
            <div class="profile-projects">
                <h2>Projects</h2>
                <ul>
                    each item in items
                        li=item.pr_name
                </ul>
            </div>
        </div>
        
        //- <footer>
        //-     <p>&copy;2023 Your Website Name</p>
        //- </footer>
        
    </body>
</html>